global{
	font-size: 12;	
	font-style: normal;
	font-weight: normal; 
    modalTransparencyBlur: 3;
    modalTransparency: 0.8;
    modalTransparencyColor: #161817;
    modalTransparencyDuration: 500;    
    theme-color: #595857;    	
}